@import "reset";
@import "vendor/bourbon";
@import "colors";

body {
  background-color: $dark;
  color: #FFFFFA;
  font-family: 'Cabin', sans-serif;
}

button {
  background-color: $second;
  color: #fffffa;
  border: 1px solid $second;
  border-radius: 2px;
  padding: 0.8em 2.5em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1em;
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: tint($second, 15%);
  }
  &.outline {
    background-color: transparent;
    border: 1px solid $second;
    color: $second;
    &:hover {
      cursor: pointer;
      background-color: tint($dark, 15%);
    }
  }
}

.overworld {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64, 67, 81, 0.95);
  display: flex;
  img {
    margin: auto;
  }
}

.value-item {
  text-align: center;
  border-right: 1px solid tint($prime, 15%);
  padding: 20px 0;
  &:last-child {
    border-right: none;
  }
  .label {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
    letter-spacing: 1px;
  }
  .value {
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
    .dollar-sign {
      font-size: 14px;
      position: relative;
      top: -1px;
      margin-right: 2px;
    }
    .cents {
      font-size: 14px;
    }
  }
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.bold {
  font-weight: bold;
}
